
<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-yandex-index") %>>
          <a href="/docs/providers/yandex/index.html">Yandex Provider</a>
        </li>

        <li<%= sidebar_current("docs-yandex-examples") %>>
          <a href="#">Usage examples</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-container-optimized-image") %>>
              <a href="/docs/providers/yandex/e/coi_with_compute_instance.html">container_optimized_image</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-datasource") %>>
          <a href="#">Yandex Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-datasource-alb-backend-group") %>>
              <a href="/docs/providers/yandex/d/datasource_alb_backend_group.html">yandex_alb_backend_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-alb-http-router") %>>
              <a href="/docs/providers/yandex/d/datasource_alb_http_router.html">yandex_alb_http_router</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-alb-load-balancer") %>>
              <a href="/docs/providers/yandex/d/datasource_alb_load_balancer.html">yandex_alb_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-alb-target-group") %>>
              <a href="/docs/providers/yandex/d/datasource_alb_target_group.html">yandex_alb_target_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-alb-virtual-host") %>>
              <a href="/docs/providers/yandex/d/datasource_alb_virtual_host.html">yandex_alb_virtual_host</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-compute-disk") %>>
              <a href="/docs/providers/yandex/d/datasource_compute_disk.html">yandex_compute_disk</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-compute-image") %>>
              <a href="/docs/providers/yandex/d/datasource_compute_image.html">yandex_compute_image</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-compute-instance") %>>
              <a href="/docs/providers/yandex/d/datasource_compute_instance.html">yandex_compute_instance</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-compute-instance-group") %>>
              <a href="/docs/providers/yandex/d/datasource_compute_instance_group.html">yandex_compute_instance_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-compute-snapshot") %>>
              <a href="/docs/providers/yandex/d/datasource_compute_snapshot.html">yandex_compute_snapshot</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-container-registry") %>>
              <a href="/docs/providers/yandex/d/datasource_container_registry.html">yandex_container_registry</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-container-repository") %>>
              <a href="/docs/providers/yandex/d/datasource_container_repository.html">yandex_container_repository</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-dataproc-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_dataproc_cluster.html">yandex_dataproc_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-dns-zone") %>>
              <a href="/docs/providers/yandex/d/datasource_dns_zone.html">yandex_dns_zone</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-yandex-function") %>>
              <a href="/docs/providers/yandex/d/datasource_function.html">yandex_function</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-yandex-function-scaling-policy") %>>
              <a href="/docs/providers/yandex/d/datasource_function_scaling_policy.html">yandex_function_scaling_policy</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-yandex-function-trigger") %>>
              <a href="/docs/providers/yandex/d/datasource_function_trigger.html">yandex_function_trigger</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-iam-policy") %>>
              <a href="/docs/providers/yandex/d/datasource_iam_policy.html">yandex_iam_policy</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-iam-role") %>>
              <a href="/docs/providers/yandex/d/datasource_iam_role.html">yandex_iam_role</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-iam-service-account") %>>
              <a href="/docs/providers/yandex/d/datasource_iam_service_account.html">yandex_iam_service_account</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-iam-user") %>>
              <a href="/docs/providers/yandex/d/datasource_iam_user.html">yandex_iam_user</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-iot-core-device") %>>
              <a href="/docs/providers/yandex/d/datasource_iot_core_device.html">yandex_iot_core</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-iot-core-registry") %>>
              <a href="/docs/providers/yandex/d/datasource_iot_core_registry.html">yandex_iot_registry</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-kubernetes-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_kubernetes_cluster.html">yandex_kubernetes_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-kubernetes-node-group") %>>
              <a href="/docs/providers/yandex/d/datasource_kubernetes_node_group.html">yandex_kubernetes_node_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-lb-network-load-balancer") %>>
              <a href="/docs/providers/yandex/d/datasource_lb_network_load_balancer.html">yandex_lb_network_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-lb-target-group") %>>
              <a href="/docs/providers/yandex/d/datasource_lb_target_group.html">yandex_lb_target_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-logging-group") %>>
              <a href="/docs/providers/yandex/d/datasource_logging_group.html">yandex_logging_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-clickhouse-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_clickhouse_cluster.html">yandex_mdb_clickhouse_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-mongodb-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_mongodb_cluster.html">yandex_mdb_mongodb_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-mysql-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_mysql_cluster.html">yandex_mdb_mysql_cluster</a>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-postgresql-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_postgresql_cluster.html">yandex_mdb_postgresql_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-postgresql-database") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_postgresql_database.html">yandex_mdb_postgresql_database</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-postgresql-user") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_postgresql_user.html">yandex_mdb_postgresql_user</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-redis-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_redis_cluster.html">yandex_mdb_redis_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-kafka-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_kafka_cluster.html">yandex_mdb_kafka_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-kafka-topic") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_kafka_topic.html">yandex_mdb_kafka_topic</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-sqlserver-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_sqlserver_cluster.html">yandex_mdb_sqlserver_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-mdb-greenplum-cluster") %>>
              <a href="/docs/providers/yandex/d/datasource_mdb_greenplum_cluster.html">yandex_mdb_greenplum_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-message-queue") %>>
              <a href="/docs/providers/yandex/d/datasource_message_queue.html">yandex_message_queue</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-organizationmanager-saml-federation") %>>
              <a href="/docs/providers/yandex/d/datasource_organizationmanager_saml_federation.html">yandex_organizationmanager_saml_federation</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-organizationmanager-saml-federation-user-account") %>>
              <a href="/docs/providers/yandex/d/datasource_organizationmanager_saml_federation_user_account.html">yandex_organizationmanager_saml_federation_user_account</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-resourcemanager-cloud") %>>
              <a href="/docs/providers/yandex/d/datasource_resourcemanager_cloud.html">yandex_resourcemanager_cloud</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-resourcemanager-folder") %>>
              <a href="/docs/providers/yandex/d/datasource_resourcemanager_folder.html">yandex_resourcemanager_folder</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-serverless-container") %>>
              <a href="/docs/providers/yandex/d/datasource_serverless_container.html">yandex_serverless_container</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-address") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_address.html">yandex_vpc_address</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-gateway") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_gateway.html">yandex_vpc_gateway</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-network") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_network.html">yandex_vpc_network</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-route-table") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_route_table.html">yandex_vpc_route_table</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-security-group") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_security_group.html">yandex_vpc_security_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-security-group-rule") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_security_group_rule.html">yandex_vpc_security_group_rule</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-vpc-subnet") %>>
              <a href="/docs/providers/yandex/d/datasource_vpc_subnet.html">yandex_vpc_subnet</a>
            </li>
            <li<%= sidebar_current("docs-yandex-ydb-database-iam-binding") %>>
              <a href="/docs/providers/yandex/r/ydb_database_iam_binding.html">yandex_ydb_database_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-ydb-database-dedicated") %>>
              <a href="/docs/providers/yandex/d/datasource_ydb_database_dedicated.html">yandex_ydb_database_dedicated</a>
            </li>
            <li<%= sidebar_current("docs-yandex-datasource-ydb-database-serverless") %>>
              <a href="/docs/providers/yandex/d/datasource_ydb_database_serverless.html">yandex_ydb_database_serverless</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-alb") %>>
          <a href="#">Yandex Application Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-alb-backend-group") %>>
              <a href="/docs/providers/yandex/r/alb_backend_group.html">yandex_alb_backend_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-alb-http-router") %>>
              <a href="/docs/providers/yandex/r/alb_http_router.html">yandex_alb_http_router</a>
            </li>
            <li<%= sidebar_current("docs-yandex-alb-load-balancer") %>>
              <a href="/docs/providers/yandex/r/alb_load_balancer.html">yandex_alb_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-yandex-alb-target-group") %>>
              <a href="/docs/providers/yandex/r/alb_target_group.html">yandex_alb_target_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-alb-virtual-host") %>>
              <a href="/docs/providers/yandex/r/alb_virtual_host.html">yandex_alb_virtual_host</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-yandex-compute") %>>
          <a href="#">Yandex Compute Service Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-compute-disk") %>>
              <a href="/docs/providers/yandex/r/compute_disk.html">yandex_compute_disk</a>
            </li>
            <li<%= sidebar_current("docs-yandex-compute-image") %>>
              <a href="/docs/providers/yandex/r/compute_image.html">yandex_compute_image</a>
            </li>
            <li<%= sidebar_current("docs-yandex-compute-instance-x") %>>
              <a href="/docs/providers/yandex/r/compute_instance.html">yandex_compute_instance</a>
            </li>
            <li<%= sidebar_current("docs-yandex-compute-instance-group") %>>
              <a href="/docs/providers/yandex/r/compute_instance_group.html">yandex_compute_instance_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-compute-snapshot") %>>
              <a href="/docs/providers/yandex/r/compute_snapshot.html">yandex_compute_snapshot</a>
            </li>
          </ul>

        <li<%= sidebar_current("docs-yandex-cr") %>>
          <a href="#">Yandex Container Registry Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-container-registry") %>>
              <a href="/docs/providers/yandex/r/container_registry.html">yandex_cr_container_registry</a>
            </li>
            <li<%= sidebar_current("docs-yandex-container-registry-iam-binding") %>>
              <a href="/docs/providers/yandex/r/container_registry_iam_binding.html">yandex_container_registry_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-container-repository") %>>
              <a href="/docs/providers/yandex/r/container_repository.html">yandex_cr_container_repository</a>
            </li>
            <li<%= sidebar_current("docs-yandex-container-repository-iam-binding") %>>
              <a href="/docs/providers/yandex/r/container_repository_iam_binding.html">yandex_container_repository_iam_binding</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-dataproc") %>>
          <a href="#">Yandex Data Proc Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-dataproc-cluster") %>>
              <a href="/docs/providers/yandex/r/dataproc_cluster.html">yandex_dataproc_cluster</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-dns") %>>
          <a href="#">Yandex DNS</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-dns-zone") %>>
              <a href="/docs/providers/yandex/r/dns_zone.html">yandex_dns_zone</a>
            </li>
            <li<%= sidebar_current("docs-yandex-dns-recordset") %>>
              <a href="/docs/providers/yandex/r/dns_recordset.html">yandex_dns_recordset</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-function") %>>
          <a href="#">Yandex Cloud Functions Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-function") %>>
              <a href="/docs/providers/yandex/r/function.html">yandex_function</a>
            </li>
            <li<%= sidebar_current("docs-yandex-function") %>>
              <a href="/docs/providers/yandex/r/function_iam_binding.html">yandex_function_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-function-trigger") %>>
              <a href="/docs/providers/yandex/r/function_trigger.html">yandex_function_trigger</a>
            </li>
            <li<%= sidebar_current("docs-yandex-function-scaling-policy") %>>
              <a href="/docs/providers/yandex/r/function_scaling_policy.html">yandex_function_scaling_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-iam") %>>
          <a href="#">Yandex Identity and Access Management Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-iam-service-account-x") %>>
              <a href="/docs/providers/yandex/r/iam_service_account.html">yandex_iam_service_account</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iam-service-account-api-key") %>>
              <a href="/docs/providers/yandex/r/iam_service_account_api_key.html">yandex_iam_service_account_api_key</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iam-service-account-iam-binding") %>>
              <a href="/docs/providers/yandex/r/iam_service_account_iam_binding.html">yandex_iam_service_account_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iam-service-account-iam-member") %>>
              <a href="/docs/providers/yandex/r/iam_service_account_iam_member.html">yandex_iam_service_account_iam_member</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iam-service-account-iam-policy") %>>
              <a href="/docs/providers/yandex/r/iam_service_account_iam_policy.html">yandex_iam_service_account_iam_policy</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iam-service-account-key") %>>
              <a href="/docs/providers/yandex/r/iam_service_account_key.html">yandex_iam_service_account_key</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iam-service-account-static-access-key") %>>
              <a href="/docs/providers/yandex/r/iam_service_account_static_access_key.html">yandex_iam_service_account_static_access_key</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-iot") %>>
          <a href="#">Yandex IoT Core Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-iot-core-device") %>>
              <a href="/docs/providers/yandex/r/iot_core_device.html">yandex_iot_core_device</a>
            </li>
            <li<%= sidebar_current("docs-yandex-iot-core-registry") %>>
              <a href="/docs/providers/yandex/r/iot_core_registry.html">yandex_iot_core_registry</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-kms") %>>
          <a href="#">Yandex Key Management Service Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-kms-secret-ciphertext") %>>
              <a href="/docs/providers/yandex/r/kms_secret_ciphertext.html">yandex_kms_secret_ciphertext</a>
            </li>
            <li<%= sidebar_current("docs-yandex-kms-symmetric-key") %>>
              <a href="/docs/providers/yandex/r/kms_symmetric_key.html">yandex_kms_symmetric_key</a>
            </li>
            <li<%= sidebar_current("docs-yandex-kms-symmetric-key-iam-binding") %>>
              <a href="/docs/providers/yandex/r/kms_symmetric_key_iam_binding.html">yandex_kms_symmetric_key_iam_binding</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-lb") %>>
          <a href="#">Yandex Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-lb-network-load-balancer") %>>
              <a href="/docs/providers/yandex/r/lb_network_load_balancer.html">yandex_lb_network_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-yandex-lb-target-group") %>>
              <a href="/docs/providers/yandex/r/lb_target_group.html">yandex_lb_target_group</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-logging") %>>
          <a href="#">Yandex Cloud Logging Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-logging-group") %>>
              <a href="/docs/providers/yandex/r/logging_group.html">yandex_logging_group</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-mdb") %>>
          <a href="#">Yandex Managed Service for Database Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-mdb-clickhouse-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_clickhouse_cluster.html">yandex_mdb_clickhouse_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-mongodb-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_mongodb_cluster.html">yandex_mdb_mongodb_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-mysql-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_mysql_cluster.html">yandex_mdb_mysql_cluster</a>
            <li<%= sidebar_current("docs-yandex-mdb-postgresql-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_postgresql_cluster.html">yandex_mdb_postgresql_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-postgresql-database") %>>
              <a href="/docs/providers/yandex/r/mdb_postgresql_database.html">yandex_mdb_postgresql_database</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-postgresql-user") %>>
              <a href="/docs/providers/yandex/r/mdb_postgresql_user.html">yandex_mdb_postgresql_user</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-redis-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_redis_cluster.html">yandex_mdb_redis_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-kafka-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_kafka_cluster.html">yandex_mdb_kafka_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-kafka-topic") %>>
              <a href="/docs/providers/yandex/r/mdb_kafka_topic.html">yandex_mdb_kafka_topic</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-sqlserver-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_sqlserver_cluster.html">yandex_mdb_sqlserver_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-mdb-greenplum-cluster") %>>
              <a href="/docs/providers/yandex/r/mdb_greenplum_cluster.html">yandex_mdb_greenplum_cluster</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-message-queues") %>>
          <a href="#">Yandex Message Queue Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-message-queue") %>>
              <a href="/docs/providers/yandex/r/message_queue.html">yandex_message_queue</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-kubernetes") %>>
          <a href="#">Yandex Managed Service for Kubernetes Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-kubernetes-cluster") %>>
              <a href="/docs/providers/yandex/r/kubernetes_cluster.html">yandex_kubernetes_cluster</a>
            </li>
            <li<%= sidebar_current("docs-yandex-kubernetes-node-group") %>>
              <a href="/docs/providers/yandex/r/kubernetes_node_group.html">yandex_kubernetes_node_group</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-object-storage") %>>
          <a href="#">Yandex Object Storage</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-storage-bucket") %>>
              <a href="/docs/providers/yandex/r/storage_bucket.html">yandex_storage_bucket</a>
            </li>
            <li<%= sidebar_current("docs-yandex-storage-object") %>>
              <a href="/docs/providers/yandex/r/storage_object.html">yandex_storage_object</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-organizationmanager") %>>
          <a href="#">Yandex Organization Manager Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-organizationmanager-organization-iam-binding") %>>
              <a href="/docs/providers/yandex/r/organizationmanager_organization_iam_binding.html">yandex_organizationmanager_organization_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-organizationmanager-organization-iam-member") %>>
              <a href="/docs/providers/yandex/r/organizationmanager_organization_iam_member.html">yandex_organizationmanager_organization_iam_member</a>
            </li>
            <li<%= sidebar_current("docs-yandex-organizationmanager-saml-federation") %>>
              <a href="/docs/providers/yandex/r/organizationmanager_saml_federation.html">yandex_organizationmanager_saml_federation</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-resourcemanager") %>>
          <a href="#">Yandex Resource Manager Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-resourcemanager-folder") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_folder.html">yandex_resourcemanager_folder</a>
            </li>
            <li<%= sidebar_current("docs-yandex-resourcemanager-cloud") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_cloud.html">yandex_resourcemanager_cloud</a>
            </li>
            <li<%= sidebar_current("docs-yandex-resourcemanager-cloud-iam-binding") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_cloud_iam_binding.html">yandex_resourcemanager_cloud_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-resourcemanager-cloud-iam-member") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_cloud_iam_member.html">yandex_resourcemanager_cloud_iam_member</a>
            </li>
            <li<%= sidebar_current("docs-yandex-resourcemanager-folder-iam-binding") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_folder_iam_binding.html">yandex_resourcemanager_folder_iam_binding</a>
            </li>
            <li<%= sidebar_current("docs-yandex-resourcemanager-folder-iam-member") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_folder_iam_member.html">yandex_resourcemanager_folder_iam_member</a>
            </li>
            <li<%= sidebar_current("docs-yandex-resourcemanager-folder-iam-policy") %>>
              <a href="/docs/providers/yandex/r/resourcemanager_folder_iam_policy.html">yandex_resourcemanager_folder_iam_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-serverless-container") %>>
          <a href="#">Yandex Cloud Serverless Container Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-serverless-container") %>>
              <a href="/docs/providers/yandex/r/serverless_container.html">yandex_serverless_container</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-vpc") %>>
          <a href="#">Yandex VPC Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-vpc-address") %>>
              <a href="/docs/providers/yandex/r/vpc_address.html">yandex_vpc_address</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-gateway") %>>
              <a href="/docs/providers/yandex/r/vpc_gateway.html">yandex_vpc_gateway</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-network") %>>
              <a href="/docs/providers/yandex/r/vpc_network.html">yandex_vpc_network</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-route-table") %>>
              <a href="/docs/providers/yandex/r/vpc_route_table.html">yandex_vpc_route_table</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-security-group") %>>
              <a href="/docs/providers/yandex/r/vpc_security_group.html">yandex_vpc_security_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-default-security-group") %>>
              <a href="/docs/providers/yandex/r/vpc_default_security_group.html">yandex_vpc_default_security_group</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-security-group-rule") %>>
              <a href="/docs/providers/yandex/r/vpc_security_group_rule.html">yandex_vpc_security_group_rule</a>
            </li>
            <li<%= sidebar_current("docs-yandex-vpc-subnet") %>>
              <a href="/docs/providers/yandex/r/vpc_subnet.html">yandex_vpc_subnet</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-yandex-ydb") %>>
          <a href="#">Yandex Database Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-yandex-ydb-database-dedicated") %>>
              <a href="/docs/providers/yandex/r/ydb_database_dedicated.html">yandex_ydb_database_dedicated</a>
            </li>
            <li<%= sidebar_current("docs-yandex-ydb-database-serverless") %>>
              <a href="/docs/providers/yandex/r/ydb_database_serverless.html">yandex_ydb_database_serverless</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
